.Vazaar-Profile-Container{
    display: flex;
    align-items: center;
    height: 100%;
    // position: absolute;
    margin-right: 23px;
}
.Vazaar-Profile-Name{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}
.Vazaar-Profile-Section-Container{
    background-color: white !important;
    // min-width: 90%;
    // min-height: 90%;
    width: 90%;
    height: 90%;
    max-width: 2000px !important;
    max-height: 1500px !important;
    margin: 0 auto;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.Vazaar-Avatar{
    width: 120px !important;
    height: 120px !important;
    font-size: 48px !important;
}



.Vazaar-Profile-Form-SecondTitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    /* or 200% */
    width: fit-content;
    margin-bottom: 7px;
    color: #7D9EB5;
}

.Vazaar-Profile-Form-Container{
    margin-top: 24px;
    display: column;
    // flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
    // max-width: 417px;
}

